In [13]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
train = pd.read_csv("train.csv")

In [3]:
train

              date  store  item  sales
0       2013-01-01      1     1     13
1       2013-01-02      1     1     11
2       2013-01-03      1     1     14
3       2013-01-04      1     1     13
4       2013-01-05      1     1     10
...            ...    ...   ...    ...
912995  2017-12-27     10    50     63
912996  2017-12-28     10    50     59
912997  2017-12-29     10    50     74
912998  2017-12-30     10    50     62
912999  2017-12-31     10    50     82

[913000 rows x 4 columns]

In [4]:
print('Train shape:', train.shape)

Train shape: (913000, 4)

In [5]:
#rf = RandomForestRegressor()

In [6]:
# Train a model
#rf.fit(X=train[['store', 'item']], y=train['sales'])

RandomForestRegressor()

In [7]:
#test = pd.read_csv("test.csv")

In [8]:
#test.shape

(45000, 4)

In [9]:
# Get predictions for the test set
#test['sales'] = rf.predict(test[['store', 'item']])

In [17]:
X= train[['store', 'item']]
Y= train['sales']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.28, random_state= 42)

In [19]:
rgr = RandomForestRegressor()
rgr.fit(X_train, y_train)

RandomForestRegressor()

In [20]:
prediction = rgr.predict(X_test)

In [21]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, prediction)
r2*100

69.72083742820504